.content_col {
    padding-left: 9.4rem;
    padding-right: 5rem;
}

.content_col h4 {
    font-weight: bold;
    margin-bottom: 3rem;
    color: var(--color-4e);
}

.content_col.bg_image_content {
    padding-top: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-right: 12.5rem;
}

.content_col.reverse_bg_white {
    padding-top: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-right: 10rem;
}

.content_col.department,
.content_col.facilities {
    padding-top: 0;
}

.content_col.odd {
    padding-left: 0;
    padding-right: 9.4rem;
    padding-block: 4rem;
}

.content_col.bg_image_content .heading {
    color: #fff;
    font: var(--font-26);
    margin-bottom: 3rem;
}

.content_col .descGroup {
    display: grid;
    gap: 3rem;
}

.content_col .pdf_group {
    border-top: 1px solid #D9D9D9;
    margin-top: 3.2rem;
    padding-top: 5rem;
}

.content_col .pdf_group a {
    color: #333333;
    font: var(--font-18);
    font-weight: bold;
    display: flex;
    align-items: center;
}

.content_col .pdf_group img {
    margin-right: 1rem;
}

.content_col .desc {
    font: var(--font-16);
    line-height: 2.8rem;
    color: #444444;
    /* font-family: var(--font-Condensed); */
    margin: 0;
}

.content_col.bg_image_content .desc {
    color: #fff;
    font-family: var(--font-roboto);
}

.content_col .subHeading {
    margin-top: 5rem;
    color: #16344E;
    font: var(--font-21);
    line-height: 3rem;
    font-weight: 500;
}

.content_col ul {
    margin-top: 2.5rem;
    display: grid;
    gap: 2rem;
    list-style-type: none;
    padding-left: 0;
}

.content_col li {
    font: var(--font-16);
    color: #444444;
    position: relative;
    padding-left: 2.2rem;
}

.content_col li:before {
    position: absolute;
    content: '';
    height: 0.7rem;
    width: 0.7rem;
    background: #FFC100;
    border-radius: 50%;
    top: 12px;
    transform: translateY(-50%);
    left: 0;
}

.content_col .bottomDesc {
    font: var(--font-16);
    margin-top: 5rem;
    margin-bottom: 0;
    color: #444444;
}

.extraInfo {
    color: #444444;
    font: var(--font-18);
    font-weight: bold;
    margin-top: 5rem;
}

.extraPara {
    margin-top: 7rem;
    font: var(--font-16);
    color: #444444;
    margin-bottom: 0;
}


.singleImageContent.department {
    padding-bottom: 15rem;
}

.singleImageContent.facilities {
    /* padding:5rem 0 10rem; */
    position: relative;
}


@media screen and (min-width: 1921px) and (max-width: 2550px) {

    .content_col {
        padding-left: 8.4rem;
        padding-right: 0rem;
    }
}

@media screen and (max-width:1449px) {
    .content_col {
        padding-left: 4.4rem;
        padding-top: 4rem;
    }

    .content_col .bottomDesc {
        margin-top: 0rem;
    }
}
@media screen and (max-width:1366px) {
 .content_col.odd {
    padding-right: 4.4rem;
    padding-block: 4rem;
}
.content_col {
    padding-right: 0rem;
    padding-top: 0;
}
.content_col.reverse_bg_white {
    padding-right: 6rem;
}

}



@media screen and (max-width:991px) {
    .content_col {
        padding-left: 0rem;
    }

    .image_content_repeat_section {
        padding-block: 4rem 2rem;
    }

    .content_col.reverse_bg_white {
        padding-block: 4rem;
    }

    .content_col.department,
    .content_col.facilities {
        padding-top: 2rem;
    }

    .inner_sub_header {
        margin-top: 0rem;
    }

    .content_col {
        padding-left: 0;
        padding-top: 0;
    }

    .content_col.odd {
        padding-right: 0rem;
    }

    /* .singleImageContent:not(:last-child) {
        padding-bottom: 2rem;
    } */
.content_col ul {
  margin-bottom: 3rem;
}

}

@media screen and (max-width:767px) {
    .content_col .subHeading {
        margin-top: 0rem;
        margin-bottom: 1.2rem;
        font: var(--font-18);
        font-weight: 500;
    }

    .content_col {
        padding-left: 0;
        padding-top: 2rem;
        padding-right: 0;
    }

    .content_col.reverse_bg_white {
        padding-right: 0;
    }

    /* .singleImageContent:not(:last-child) {
        padding-bottom: 3rem;
    } */

    .content_col ul {
        margin-top: 2rem;
        gap: 1.5rem;

    }

    .content_col .pdf_group {
        margin-top: 2rem;
        padding-top: 4rem;
    }
     .content_col.odd {
    padding-block:2rem 4rem;
}
  .content_col.odd {
    padding-block:2rem ;
}

}

@media screen and (max-width:575px) {
    .content_col h4 {
        margin-bottom: 1rem;
        font: var(--font-20);
    }

    .content_col .descGroup {
        gap: 2rem;
    }



}