/* components/school-components/AboutSchool/AboutSchool.module.css */

.aboutSchoolSection {
  background-color: #e6ffff;
 padding-block: 13rem 9rem
}

.subtitle {
  font: var(--font-18);
  margin-bottom: 0.5rem;
  color: #16344E;
  font-family: var(--font-Condensed);
  font-weight: 700;

}

.title {
  font-weight: 700;
  font: var(--font-60);
  line-height: 1;
  margin-top: 1rem;
  font-family: var(--font-Condensed);
  letter-spacing: -2.88px;
}

.description {
  color: #333;
  font-size: 1.5rem;
  margin-top:2rem;
  margin-bottom:3rem;
  max-width: 45rem;
}

.arrowButton {
  font-size: 2.4rem;
  color: #994073;
  padding: 0;
  border: none;
  background: none;
}

.arrowButton:hover {
  color: #2d9cfd;
}

.blue-text {
  color: #000;
}

.rankingCard {
  border: 1px solid #dee2e6;
  border-radius: 3px;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
  align-items: center;
  padding-block: 2.8rem 2.7rem;
  padding-inline: 4rem 2rem;
}

.rankNumber {
  color: #16344E;
  font-weight: 600;
  font: var(--font-48);
  margin-right: 1rem;
  letter-spacing: -1.92px;
  font-weight: 500;
}

.counter_dfe {
  align-items: center;
}

.rankText {
  font: var(--font-14);
  font-weight: 400;
  margin-bottom: 5px;
  line-height: 1.3;
}

.rankSource {
  font: var(--font-14);
  font-weight: normal;
  margin: 0;
  color: #000000;
  text-transform: uppercase;
}

.navButtons {
  background: #16344e;
  padding: 0.5rem 1.5rem;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 700;
  font-family: 'Roboto Condensed';
}

.navButtons:hover {
  background: #1e4268;
  color: #fff;
}

.imageCard {
  border: none;
  position: relative;
}

.cardImage {
  width: 100%;
  height: auto;
  border-radius: 2rem;
}
.school_row{
    display: grid;
  grid-template-columns: repeat(1, 46.4% auto);
  align-items: center;
  gap: 5.6rem;
}
.gradientOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.2) 80%);
  border-radius: 2rem;
  z-index: 1;
}

.statsContainer {
  position: absolute;
  bottom: 3rem;
  left: 6rem;
  color: #fff;
  font-weight: bold;
  font-size:3.2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.statsNumber {
  font: var(--font-80);
  letter-spacing: -5.2px;
  line-height: 1;
  font-family: var(--font-Condensed);
  font-weight: 400;
}

.statsText {
  font: var(--font-20);
  width: 80%;
  font-weight: 400;
  margin-top: 0.5rem;
  line-height: 1.3;
  font-family: var(--font-Condensed);
  letter-spacing: -0.4px;
}

.yellowLine {
  background-color: #f5c518;
  width: 4px;
  height: 21rem;
  position: absolute;
  top: -1rem;
  left: -3rem;
}

.badgeContainer {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 45%;
  z-index: 2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.badgeLogo {
  width: 40%;
  height: auto;
  border-radius: 2rem;
}

.badgeText {
  font-size: 1.2rem;
  color: #000;
  line-height: 1.3;
  margin: 0;
}

.buttonsContainer {
  display: flex;
  gap: 0.5rem;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.buttonsContainer .navButtons:last-child {
  background-color: transparent;
  color: #16344e;
  border: 1px solid #16344e;
}

.buttonsContainer .navButtons:last-child:hover {
  background-color: var(--color-100);
  color: #16344e;
  border: 1px solid var(--color-100)
}


/* Responsive Design */
@media (max-width: 1749px){
.aboutSchoolSection {
  background-color: #e6ffff;
 padding-block: 10rem 8rem
}

}
@media (max-width: 1549px){
.school_row{grid-template-columns: repeat(1, 49.4% auto);}

}


@media (max-width: 1366px) {
  .description {
    max-width: 100%;
  }
  .school_row{grid-template-columns: repeat(1, 50.4% auto);}
}
@media (max-width: 1249px){
 .school_row{grid-template-columns: repeat(1, 53.4% auto);}
}
@media (max-width: 1199px) {
  .description {
    max-width: 100%;
  }

  .rankingCard {
    max-width: 100%;
    width: 100%;
    padding: 4rem;
  }


}

@media (max-width: 1024px) {
  .description {
    max-width: 100%;
  }
  .imageCard {
    margin-left: 0;
  }
}


@media (max-width: 992px) {

  .aboutSchoolSection {
    padding-block: 4rem;
    padding-inline: 0;
  }
.description {
  margin-top:1rem;
  margin-bottom:2rem;
  max-width: 100%;
}

  .yellowLine {
    left: -1rem;
  }
 
  .statsContainer {
    bottom: 3rem;
    left: 3rem;
  }

  .badgeContainer {
    bottom: 3rem;
    right: 2.5rem;
    width: 50%;
  }

  .yellowLine {
    height: 19rem;
  }

  .rankingCard {
    padding: 2rem;
  }
}
@media (max-width:767px) {
  .title {font: var(--font-32);font-family: var(--font-Condensed);letter-spacing:-1.5px;font-weight: 700;line-height: 1;}
  .rankNumber{font: var(--font-30);}
}
.fifthSectionSlider {
  margin-top: 6.7rem;
  padding-inline: 5rem;
}

.fifthSectionSlider :global(.about-pagination) {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  height: 10px;
}

.fifthSectionSlider :global(.about-pagination .swiper-pagination-bullet) {
  width: 0.6rem;
  height: 0.6rem;
  display: block;
}


.fifthSectionSlider :global(.about-pagination .swiper-pagination-bullet-active) {
  background-color: #ffffff;
  transform: scale(1.5);
  border: solid 1px #f7bf3e;
}
 .accreditationSlide .small {
     font: var(--font-16);
    color: var(--color-black);
   font-family: var(--font-Roboto);
   font-weight: normal;
}
.accreditationSlide .small {
 position: relative;
}
.accreditationSlide .small::after {
 content: '';
 position: absolute;
 width: 0.1rem;
 height: 5rem;
 background-color: #ddd;
 right: -4.5rem;
 top: 0;
}





@media (max-width: 1024px) {
.school_row{
  display: block;
 }
 .fifthSectionSlider {
  margin-top: 2rem;
  padding-inline: 3rem;
}
.aboutSchoolSection {
  background-color: #e6ffff;
 padding-block: 6rem
}

}
@media (max-width: 991px) {
.school_row{
  grid-template-columns:repeat(1, 46.4% auto);
 }
 .buttonsContainer {
  display: none;
}
.school_row{
  display: block;
 }

}
@media (max-width: 575px){
.aboutSchoolSection {
 padding-block: 3rem
}
}
