@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  color: inherit !important;
}
.main-container {
  position: relative;
}

/* .hamburger-right-banner {
  object-fit: cover;
  width: 80%;
  height: auto;
} */
