@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  color: inherit !important;
}
.main-container {
  position: relative;
}
.nav-link.active-link::after {
  content: '';
  width: 70%;
  height: 8px;
  display: block;
  margin: 0 auto;
  border-bottom: 3px solid #b08f29 !important;
  color: #b08f29 !important;
}
.nav-link.active-link{
  color: #b08f29 !important;
}

.logo {
  position: relative;
}
.addmision-section-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1024px) and (max-width: 1420px) {
  .site-logo {
    width: 200px;
    height: 70px;
  }
}
