/* components/home-components/CoursesOffered/courses-offered.module.css */

.secondSection {
  padding: 6rem 10rem;
  background: #f6f6f6;
}

.topSection {
  width: 100%;
  margin: auto;
}

.topSectionH1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  width: 75%;
}

.programsCount {
  color: #b08f29;
  font-weight: 500;
  font-size: 5rem !important;
}

.programsCountWrapper {
  position: relative;
  display: inline-block;
}

.programsCountPlus {
  position: absolute;
  top: -2rem;
  font-size: 3rem;
  font-weight: 400;
  right: -2rem;
  color: #ac9031;
}

.programsText {
  font-size: 20px;
}

.bottomSectionH6 {
  background: #f6f6f6;
  width: fit-content;
  padding-right: 3rem;
  position: relative;
  bottom: 20px;
  font-size: 20px;
  right: 10px;
  margin: 0 !important;
}

.bannerLabel {
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  border-radius: 2px;
  width: 100%;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 0;
  border-left: 4px solid #ffc100;
}

.cardImage {
  width: 100%;
  height: 100%;
}