/* [project]/src/component/home-components/banner/banner.module.css [app-client] (css) */
.banner-module__TnqM8q__firstBannerSlide {
  position: relative;
}

.banner-module__TnqM8q__bannerContent {
  color: #fff;
  width: 30%;
  position: absolute;
  bottom: 20%;
  left: 10%;
}

.banner-module__TnqM8q__bannerContentH1 {
  margin-bottom: 2rem;
  font-size: 60px;
}

.banner-module__TnqM8q__bannerContentP {
  margin-bottom: 2rem;
  font-size: 16px;
  font-weight: 300;
}

.banner-module__TnqM8q__bannerContentA {
  color: #fff;
  border-bottom: 1px solid;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 8px;
  font-size: 18px;
  text-decoration: none;
  display: flex;
}

.banner-module__TnqM8q__bannerContentA:hover {
  opacity: .8;
}

.banner-module__TnqM8q__swiperContainer {
  width: 100%;
  height: 700px;
}

.banner-module__TnqM8q__slideImage {
  object-fit: cover;
}

.banner-module__TnqM8q__iconSpacing {
  margin-left: 20px;
}

@media (max-width: 1200px) {
  .banner-module__TnqM8q__bannerContentH1 {
    font-size: 48px;
  }

  .banner-module__TnqM8q__bannerContent {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .banner-module__TnqM8q__bannerContent {
    width: 80%;
    bottom: 15%;
    left: 5%;
  }

  .banner-module__TnqM8q__bannerContentH1 {
    margin-bottom: 1rem;
    font-size: 32px;
  }

  .banner-module__TnqM8q__bannerContentP {
    margin-bottom: 1.5rem;
    font-size: 14px;
  }

  .banner-module__TnqM8q__bannerContentA {
    font-size: 16px;
  }

  .banner-module__TnqM8q__swiperContainer {
    height: 500px;
  }
}

@media (max-width: 480px) {
  .banner-module__TnqM8q__bannerContent {
    width: 90%;
    bottom: 10%;
    left: 5%;
  }

  .banner-module__TnqM8q__bannerContentH1 {
    font-size: 24px;
  }

  .banner-module__TnqM8q__bannerContentP {
    font-size: 12px;
  }

  .banner-module__TnqM8q__swiperContainer {
    height: 400px;
  }
}

/* [project]/src/component/home-components/courses-offered/courses-offered.module.css [app-client] (css) */
.courses-offered-module__nc8kwW__secondSection {
  background: #f6f6f6;
  padding: 6rem 10rem;
}

.courses-offered-module__nc8kwW__topSection {
  width: 100%;
  margin: auto;
}

.courses-offered-module__nc8kwW__topSectionH1 {
  text-transform: uppercase;
  width: 75%;
  font-size: 3.5rem;
}

.courses-offered-module__nc8kwW__programsCount {
  color: #b08f29;
  font-weight: 500;
  font-size: 5rem !important;
}

.courses-offered-module__nc8kwW__programsCountWrapper {
  display: inline-block;
  position: relative;
}

.courses-offered-module__nc8kwW__programsCountPlus {
  color: #ac9031;
  font-size: 3rem;
  font-weight: 400;
  position: absolute;
  top: -2rem;
  right: -2rem;
}

.courses-offered-module__nc8kwW__programsText {
  font-size: 20px;
}

.courses-offered-module__nc8kwW__bottomSectionH6 {
  background: #f6f6f6;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 3rem;
  font-size: 20px;
  position: relative;
  bottom: 20px;
  right: 10px;
  margin: 0 !important;
}

.courses-offered-module__nc8kwW__bannerLabel {
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
  border-left: 4px solid #ffc100;
  border-radius: 2px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 0;
}

.courses-offered-module__nc8kwW__cardImage {
  width: 100%;
  height: 100%;
}

/* [project]/src/component/home-components/placement/placement.module.css [app-client] (css) */
.placement-module__VSLvPW__thirdSection {
  background: #f6f6f6;
  width: 100%;
  margin: auto;
  padding: 10rem 0 10rem 10rem;
}

.placement-module__VSLvPW__blueBg {
  background: #16344e;
  width: 100%;
  max-width: 13%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.placement-module__VSLvPW__statsNumber {
  font-size: 3rem;
}

.placement-module__VSLvPW__statsLabel {
  font-size: .9rem;
  font-weight: 500;
}

.placement-module__VSLvPW__wallOfFameText {
  width: 35%;
  bottom: 10%;
  left: 6%;
}

.placement-module__VSLvPW__testimonialImageContainer {
  width: 140px;
  height: 160px;
}

.placement-module__VSLvPW__wallOfFameContainer {
  width: 80%;
  height: 100%;
}

.placement-module__VSLvPW__wallOfFameImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=src_component_home-components_e48daac0._.css.map*/