

/* .homeSlider .slide{
  height: 100%;
} */

.bannerContent {
  color: #fff;
  margin: 10rem 0 0 0;
  width: 43%;
  display: flex;
  flex-direction: column;

}

.bannerOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  /* background: linear-gradient(to left,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.4) 70%,
      rgba(0, 0, 0, 0.8) 100%);
  bottom: 0; */
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bannerSmall {
  font: var(--font-24);
  color:var(--color-4e);
  letter-spacing: -.67px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--font-Condensed);
  line-height: 5.4rem;
}

.bannerContentH1 {
  font: var(--font-60);
  color: var(--color-4e);
  font-weight: bold;
  letter-spacing:-2.88px;
  font-family: var(--font-Condensed);
  padding-bottom: 4rem;
  line-height: 0.9;
  text-transform: uppercase;
}
.bannerContentH1>span{
  color: var(--color-e8);
}
.bannerContentP {
  font: var(--font-18);
  color: var(--color-4e);
  font-family: var(--font-Roboto);
  font-weight: 300;
  padding-right: 8rem;
  line-height: 1.5;
}

.bannerContentA {
  font: var(--font-18);
  color: var(--color-4e);
  font-family: var(--font-Roboto);
  display: flex;
  align-items: center;
  width: fit-content;
  text-decoration: none;
  padding-block: 4rem 1.2rem;
  border-bottom: 1px solid;
}


.bannerContentA:hover {
  opacity: 0.8;
}

.swiperContainer {
  width: 100%;
}

.desktopBanner {
  display: block;
}

.heroBanner {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.mobileBanner {
  display: none;
}

.iconSpacing {
  margin-left: 3.3rem;
}
.department .iconSpacing{
  filter:invert(1)
}
.iconSpacing:hover {
  filter: invert(41%) sepia(94%) saturate(707%) hue-rotate(9deg) brightness(101%) contrast(102%);
}




.bannerGrid {
  display: grid;
  grid-template-columns:44% 56%;
  min-height: 100%;;
  gap: 8.7rem;
  overflow: hidden;
  align-items: center;
}

.bannerLeft {
  display: flex;
  align-items: center;
}

.bannerRight {
   height: 100%;
  overflow: hidden;
}


.mobileContent {
  display: none;
}


.swiperContainer {
  width: 100%;
  position: relative;
}

/* Pagination Position */
/* .swiperContainer :global(.swiper-pagination) {
  position: absolute;
  bottom: 3rem;
  left: 95%;
  transform: translateX(-50%);
  z-index: 10;
} */

/* Pagination Dot */
.swiperContainer :global(.swiper-pagination-bullet) {
  width: 0.8rem;
  height:  0.8rem;
  background: #ffffff;
  opacity: 0.5;
  margin: 0 0.6rem;
  transition: all 0.3s ease;
}

/* Active Dot */
.swiperContainer :global(.swiper-pagination-bullet-active) {
  background: var(--color-100);
  opacity: 1;
  width: 0.8rem;
  border-radius: 50%;
}




.desktopBanner {
  width: 100%;
   height: auto;
  object-fit: cover;
}
.bannerRight video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

 
@media (min-width: 2650px) and (max-width: 4000px){
 .desktopBanner,
 .heroBanner,
.bannerRight video {
  width: 100%;
  height: 1200px;   
  object-fit: cover;
}
}

@media  (max-width: 1649px){
 .desktopBanner,
 .heroBanner,
.bannerRight video {
  height: 688px;   
}
}
@media (min-width: 992px) and (max-width: 1649px) {
  .desktopBanner,
  .heroBanner {
    object-fit: contain;
    background: #fff; 
  }
   .desktopBanner,
   .heroBanner,
  .bannerRight video {
    object-fit: contain;
  }

  .bannerRight {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .desktopBanner,
  .heroBanner,
.bannerRight video {
  width: 100%;
  height: 100%;   
  object-fit: cover;
}
}



@media (min-width: 992px) and (max-width: 1649px) {
  .bannerGrid {
    grid-template-columns: 40% 60%;
    gap: 4rem;
  }

  .bannerContent {
    width: 95%;
  }
  .bannerOverlay {
    position: relative;
  }
}

@media (max-width: 991px) {
  .bannerGrid {
    display: block;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .bannerLeft {
    display: none;
  }

  .swiperContainer :global(.swiper-pagination) {
   display: none;
  }

  .mobileContent {
    display: block;
  }
}




/* Responsive Design */
@media (min-width: 2550px) and (max-width:3800) {
  .bannerContent {
    left: 26.6rem;
  }

  .blueBg {
    max-width: 25%;
  }
  .bannerContentH1 {
  font: var(--font-80);
  color: var(--color-4e);
  font-weight: bold;
  letter-spacing:-3.84px;
  font-family: var(--font-Condensed);
  padding-bottom: 4rem;
  line-height: 0.9;
  text-transform: uppercase;
}

}

@media (max-width: 1599px) {
  .bannerContent {
    top: 52%;
    left: 31.7%;
  }
  .bannerContent {
  color: #fff;
  margin: 20rem 0 0 0;
}
}

@media (max-width: 1200px) {
  .bannerContentH1 {
    font: var(--font-32);
    letter-spacing: -1.30px;
    font-family: var(--font-Condensed);
    padding-bottom: 1rem;
    margin: 0;
  }
  .bannerContent {
    color: #fff;
    margin: 10rem 0 0 0;
  }

  .bannerContentA {
    padding-block: 2rem 1.2rem;
  }
  .iconSpacing {
  margin-left: 2rem;
  max-width: 2.5rem;
}
}

@media (max-width: 1024px) {
  .logo-content img {
    max-width: 30rem;
  }

  .bannerContentA {
    padding-top: 2rem;
  }

  .bannerContentH1 {
    padding-bottom: 0.5rem;
  }

  .containerXl {
    padding-left: 6.8rem;
    padding-right: 6.8rem;
  }
}

/* Responsive Design */


@media screen and (max-width:991px) {

  .bannerContent {
    width: 64%;
  }

  .bannerContentH1 {
    margin: 4rem 0 0 0;
  }

  .desktopBanner {
    display: none;
  }

  .heroBanner {
    display: block;
    width: 100%;
    height: auto;
  }

  .mobileBanner {
    display: block;
  }

  .bannerOverlay {
    height: 100%;
    width: 100%;
    position: relative;
    /* background: transparent */
            background: #0006;

  }

  .bannerContent {
    color: #fff;
    width: 100%;
    position: relative;
    left: 0;
    transform: translate(0);
  }




  .bannerContent {
    margin: 2rem 0 0 0rem;

  }

  .bannerContentP {
    margin-bottom: 2rem;
  }

  .bannerOverlay {
    margin-inline: 2.1rem;
    text-align: center;
    margin: 0 auto;
  }

  .bannerContentH1 {
    color: var(--color-black);
  }

  .bannerContentH1 span {
    color: var(--color-e8);
  }

  .iconSpacing {
    color: #000;
    filter: brightness(0.1);
  }
  .bannerContentP {
    color: var(--color-black);
    padding: 0;
    max-width: 80%;
    margin: 0 auto;
  }

  .bannerContentA {
    padding-bottom: 8px;
    border-bottom: 1px solid;
    font: var(--font-16);
    color: var(--color-white);
    letter-spacing: 0px;
    margin: 0 auto;
    font-weight: 600;
  }
  .bannerContentA img{
    filter: invert(0) brightness(1);
  }

}

@media screen and (max-width:767px) {
  .bannerContentH1 {
    margin: 2rem 0 0 0;
  }

  .bannerContentP {
    max-width: 95%;
  }

}

@media screen and (max-width:575px) {
  .bannerContentH1 {
    font: var(--font-24);
    letter-spacing: -1.34px;
    font-family: var(--font-Condensed);
    line-height: 3rem;
    max-width: 65%;
    margin: 0 auto;
    margin-top: 1.3rem;
  }
  .bannerContentP{
    margin-top: 1rem;
  }
.bannerSmall{
  font: var(--font-20);
}
}

@media screen and (max-width:520px) {
  .bannerContentH1 {
    max-width: 70%;
  }
}

@media screen and (max-width:480px) {
  .bannerContentH1 {
    max-width: 80%;
  }
}

@media screen and (max-width:420px) {
  .bannerContentH1 {
    max-width: 90%;
  }
}

@media screen and (max-width:380px) {
  .bannerContentH1 {
    margin: 0 0 0;
  }

  .logo-content img {
    max-width: 20rem;
  }

  .bannerContentH1 {
    max-width: 100%;
  }

  .bannerContent {
    margin: 0 auto;
    padding-inline: 0rem;
  }

  .bannerContentP {
    max-width: 95%;
  }

  .cource-sec .cource_top {
    padding-top: 4rem;
  }

  .bannerContentH1 {
    margin: 2rem 0 0 0;
  }

}

