.upcomBlog h3,
.upcomBlog .c_heading { font: var(--font-24); font-family: var(--font-Condensed); font-weight: 700; color: var(--color-black); line-height: 1.2; margin-bottom: 3rem; }
.upcomBlog h4 { font: var(--font-22); font-family: var(--font-Condensed); font-weight: 700; color: var(--color-black); line-height: 1.3; margin: 4rem 0 2rem; }
.blogs-page .upcomBlog p { font: var(--font-16); font-family: var(--font-Roboto); font-weight: 400; color: #555; line-height: 1.8; margin: 0 0 3rem; max-width: 100%; }
.upcomBlog p strong { color: var(--color-black); font-weight: 700; }
.upcomBlog .custom-list { margin: 0 0 3rem; padding-left: 0; display: grid; grid-template-columns: repeat(2, 1fr); gap:1rem }
.upcomBlog .custom-list li { font: var(--font-16); font-family: var(--font-Roboto); line-height: 1.8; color: #555; margin-bottom: 1rem; }
.upcomBlog .table-responsive { width: 100%; overflow-x: auto; margin: 6rem 0; }



/* start responsive */
@media (max-width: 575px) {
 .upcomBlog .custom-list { grid-template-columns: repeat(1, 1fr); gap:1rem }
.upcomBlog .table-responsive { margin: 3rem 0; }
.upcomBlog h3 { margin-block: 3rem; }
.upcomBlog p { margin: 0 0 3rem; }
 }
