/* ===== Sticky Header ===== */

.stickyHeader {
  position: sticky;
  top: 12%;
  background: #ffffff;
  z-index: 999;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  opacity: 1;
  width: 100%;
}

.departmentMenu {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 1.2rem 1.2rem;
  overflow-x: auto;
  scrollbar-width: none;
  padding-top: 2rem;
}

.departmentMenu::-webkit-scrollbar {
  display: none;
}

.schoolToggle {
  cursor: pointer;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  color: #16344e;
  width: 23rem;
}

.schoolToggle .selectedName {
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.schoolToggle span:first-child {
  font: var(--font-16);
  font-family: var(--font-Roboto);
  color: #16344E;
  font-weight: bold;
}

.schoolToggle span:last-child {
  font: var(--font-18);
  font-family: var(--font-Condensed);
  line-height: 2.2rem;
  font-weight: bold;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  gap: 1rem;
}

.engineeringDropdownContainer {
  position: absolute;
  top: 100%;
  margin-top: 15px;
  width: 90rem;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  z-index: 999;
}

.engineeringDropdownContainer.single {
  width: 45rem;
}

.engineeringDropdown {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 300px;
}

.engineeringDropdownContainer.single .engineeringDropdown {
  display: block;
}

.schoolsList {
  background: #16344e;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
}

.schoolsList h6 {
  font: var(--font-18);
  color: var(--color-white);
  text-transform: uppercase;
  font-family: var(--font-Condensed);
  letter-spacing: 0;
  margin-bottom: 3rem;
  font-weight: 700;
}

.schoolItem {
  padding: 10px 14px;
  cursor: pointer;
  font-size: 15px;
  color: #ffffff;
  transition: 0.3s ease;
}

.schoolItem:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

.schoolItem.active {
  color: #16344e;
  /* font: var(--font-14); */
  letter-spacing: 0;
  background: #ffc100;
  font-weight: 400;

}

.schoolItem a {
  font: var(--font-14);
  color: #fff;
  letter-spacing: 0;
  font-weight: 400;
}

.departmentsList {
  padding: 25px;
  display: flex;
  flex-direction: column;
  background: #224666;
}

.departmentsList h6 {
  font: var(--font-18);
  color: var(--color-white);
  text-transform: uppercase;
  font-family: var(--font-Condensed);
  letter-spacing: 0;
  margin-bottom: 3rem;
  font-weight: 700;
}

.departmentLink {
  padding: 8px 12px;
  text-decoration: none;
  transition: 0.3s ease;
}

.departmentLink {
  font: var(--font-14);
  color: #fff;
  letter-spacing: 0;
  font-weight: 400;
}

.departmentLink button {
  font: var(--font-18);
  color: #fff;
  letter-spacing: 0;
  font-weight: 400;
}

.departmentLink:hover {
  background: #ffc100;
  color: #ffffff;
}

.navItem {
  background: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.3s;
  font: var(--font-18);
  color: #333333;
  letter-spacing: 0;
  font-weight: 400;
}

.navItem:hover {
  color: #0070f3;
}

.activeNav {
  color: #018CE8;
  font-weight: 600;
}

.noDept {
  color: #fff;
  padding: 8px 12px;
  font: var(--font-14);
}

.departmentHeaderWrapper {
  /* position: relative; */
  position: sticky;
  top: 124px;
  z-index: 1000;
  z-index: 1000;
}

.stickyHeader {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* ------------------ MOBILE ------------------ */
.mobileToggle {
  display: none;
}

.navLinksWrapper {
  display: flex;
  gap: 2.7rem;
}

.hamburgerBtn {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}


@media (min-width: 1921px) and (max-width: 2550px) {
  .departmentMenu {
    padding-top: 3rem;
  }
}

@media (max-width: 1749px) {
 .departmentHeaderWrapper {
    top: 12vh;
  }
}

@media (max-width: 1649px) {
  .departmentMenu {
    padding-inline: 3rem;
    padding-top: 2.5rem;
  }
  .navLinksWrapper {
  gap: 1.4rem;
}
.navItem {
  font: var(--font-15);
  color: #333333;
  letter-spacing: 0;
  font-weight: 400;
}
 
}
@media (max-width: 1549px) {
   .departmentHeaderWrapper {
    top: 12vh;
  }
}



@media (max-width: 1366px) {
  .departmentMenu {
    padding-top: 3rem;
  }

  .departmentHeaderWrapper {
    top: 11vh;
  }
}

@media (max-width: 1199px) {
  .departmentMenu {
    padding-top:1rem;
  }
  .departmentHeaderWrapper {
    top: 10vh;
  }
}

@media (min-width: 1200px) and (max-width: 1280px) {
  .departmentHeaderWrapper {
    top: 10.5vh;
  }

}

@media (max-width: 991px) {
  .departmentHeaderWrapper {
    top: 0;
  }

  .mobileToggle {
    display: block;
  }

  .schoolDeptWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .stickyHeader .containerXl {
    padding-inline: 3.8rem;
  }

  .engineeringDropdown {
    display: block;
  }

  .engineeringDropdownContainer {
    width: 70rem;

  }

  .navLinksWrapper {
    position: absolute;
    top: 6.5rem;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    padding: 3rem;
    display: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  .navLinksWrapper.open {
    display: flex;
  }

  .navItem {
    padding: 2rem 0;
    border-bottom: 1px solid #eee;
  }

  .schoolDeptWrapper {
    width: 100%;
  }
}

@media (max-width: 991px) {

  .navItem {
    padding: 1.5rem 0;
  }

  .engineeringDropdownContainer,
  .engineeringDropdownContainer.single {
    width: 40rem;
  }
}

@media (max-width: 767px) {

  /* .departmentHeaderWrapper{top: 133px;} */
  .schoolToggle span:first-child {
    font: var(--font-14);
    font-weight: bold;
    margin-top: 0.7rem;
  }

  .schoolToggle span:last-child {
    font: var(--font-16)
  }
}

@media (max-width: 520px) {

  .engineeringDropdownContainer,
  .engineeringDropdownContainer.single {
    width: 35rem;
  }

  .departmentMenu {
    padding: 1rem;
  }
}

/* @media (max-width: 420px) {
  .departmentHeaderWrapper{top: 128px;}
} */