/* components/school-components/DepartmentSection/DepartmentSection.module.css */

.departmentSection {
  background-color: #f6f6f6;
  min-height: 100vh;
  padding: 12rem 0rem 0;
}



.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4rem;
  height: 95%;
  max-width: 100%;
}

.title {
  font-weight: bold;
  margin-bottom: 2.2rem;
  font: var(--font-60);
  line-height: 0.9;
  max-width: 80%;
}

.viewAllButton svg {
  margin-left: 2rem;
}

.title span {
  font-family: 'Roboto Condensed';
  letter-spacing: -2.88px;
  text-transform: uppercase;

}

.courseRow {
  display: grid;
  grid-template-columns: 30.7% 58%;
  gap: 16rem;
}

.courseRow.bottom_space{
  padding-bottom:10rem;
}

.courseItemsRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.smallHeadline {
  text-transform: uppercase;
  color: var(--color-4e);
  font: var(--font-18);
  font-family: var(--font-Condensed);
  margin-bottom: 1.1rem;
  font-weight: 600;
  display: block;

}

.description {
  font: var(--font-16);
  color: #333;
  line-height: 1.5;
  font-weight: 300;


}

.programsCount {
  color: #b08f29;
  letter-spacing: -8.8px;
  font: var(--font-110);
  font-family: var(--font-Roboto);
  font-weight: normal;
}

.programsText {
  font: var(--font-24);
  color: var(--color-27);
  letter-spacing: -.48px;
  padding-left: 3.6rem;
  font-family: Geist, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

.viewAllButton {
  border-radius: 0;
  font: var(--font-14);
  font-weight: 600;
  border: 1px solid #16344E;
  padding: 1.1rem 1.5rem 1rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
  background: unset;
  color: #16344E;
  font-family: var(--font-Condensed);
}

.viewAllButton:hover {
  background: #000;
  color: #fff;
}

.admistion_heading a {
  font: var(--font-16);
  padding: .8rem 2.4rem;
  font-family: Noto Sans, sans-serif;
  line-height: 1.5;
}

.departSec {
  padding-block: 15rem 15rem;
}


.programCard {
  border-radius: 50px 0px 0px 0px;
  border-top-left-radius: 50px;
  overflow: hidden;
  border: none;
  position: relative;
  transition: transform 0.3s ease;
}

.programCard:hover {
  transform: translateY(-5px);
}

.cardImage {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.gradientOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
  opacity: 0.65;
}

.cardTitle {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-weight: bold;
  font: var(--font-30);
  z-index: 2;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-family: var(--font-Condensed);
}

.cardArrow {
  position: absolute;
  bottom: 26px;
  right: 25px;
  font-size: 20px;
  z-index: 2;
  color: #fff;
}

.browseHeader p {
  font: var(--font-18);
  font-family: var(--font-Condensed);
  font-weight: 700;
  color: #16344E;
}

.browseLine {
  width: 75%;
  height: 2px;
  display: block;
  background: rgba(178, 157, 84, 0.18);
  top: 10px;
  right: 0;
}

.divider {
  border-color: #eee;
  margin: 1rem 0 4rem 0;
}

.browseHeader h2 {
  font: var(--font-60);
  color: var(--color-4e);
  font-family: var(--font-Condensed);
  letter-spacing: -2.88px;
  text-transform: uppercase;
  line-height: 0.9;
  margin-bottom: 4rem;

}

.browseHeader h2>span {
  font: var(--font-60);
  color: #018CE8;
  margin-bottom: 3.8rem;
  font-family: var(--font-Condensed);
  letter-spacing: -2.88px;
  text-transform: uppercase;
  line-height: 0.9;

}

.departData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 2rem;
}


.departData h4 {
  color: #B08F29;
  border-radius: 0px;
  font: var(--font-18);
  font-weight: bold;
  font-family: var(--font-Condensed);
  text-transform: uppercase;
  padding-right: 2rem;
}

.departmentItem:hover {
  background: #fff;
  color: #0d1b2a;
  text-decoration: none;
}

.departmentArrow {
  font-size: 2.2rem;
  color: #002241bd;
  transition: color 0.3s ease;
  flex-shrink: 0;

}

.departmentRow {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.departmentCol {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.departmentImage {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}



/* Arrow icon hover ONLY */
.departmentArrow {
  transition: transform 0.3s ease, color 0.3s ease;
}

.departmentCol:hover .departmentArrow {
  color: #ffcc00;
}

.fullLink {
  inset: 0;
  z-index: 3;
}

.departmentItem:hover .departmentArrow {
  color: var(--color-100);
}

.departmentRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.3rem;
}

.cardOverlay {
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.4) 70%,
      rgba(0, 0, 0, 0.8) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 10px;
}

.bannerLabel {
  color: #fff;
  border-left: 4px solid #ffc100;
  width: 100%;
  font-family: Geist, sans-serif;
  font: var(--font-28);
  position: absolute;
  bottom: 2.2rem;
  padding-left: 1.2rem;
  gap: 1.2rem;
  left: 0;
  letter-spacing: -0.84px;
  text-transform: uppercase;
}

.cardIcons {
  padding-left: 1.2rem;
}

.Plusicon {
  font: var(--font-52);
  font-weight: normal;
  font-family: var(--font-Roboto);
  letter-spacing: -4.16px;
  position: relative;
  top: -5rem;
  right: -1rem;
}

.admistion_heading {
  display: flex;
  gap: 2.7rem;
  margin-top: 3.8rem;
  align-items: center;
}

.admiCol h2 {
  font: var(--font-24);
  color: #16344e;
  font-family: var(--font-Roboto);
  letter-spacing: -.48px;
  font-weight: bold;
  line-height: 1.5;
}

.admiCol h2>span {
  color: #018CE8;
}

.admiCol>p {
  font: var(--font-18);
  color: var(--color-black);
  letter-spacing: -.36px;
  margin-bottom: 0;
  font-weight: 300;
}


/* Responsive Design */
@media (max-width: 2550px) {
  .cardImage {
    height: 100%;
  }
}

@media (max-width: 1750px) {
  .departmentSection {
    padding: 6rem 0rem 5rem;
  }

  .about_school_left {
    border-right: 1px solid rgba(206, 206, 206, .52);
    padding-right: 2rem;
  }

  .departSec {
    padding-block: 10rem 5rem;
  }

  .departmentSection {
    background-color: #f6f6f6;
    min-height: 100%;
    padding: 8rem 0rem 0;
  }
}

@media (max-width: 1024px) {

  .departmentSection {
    padding: 0rem 0rem;
  }

  .cardTitle {
    max-width: 60%;
  }

  .departmentSection .container {
    padding-bottom: 4rem;
  }

  .courseRow {
    grid-template-columns: 33.7% 56%;
    gap: 8rem;
    padding-block: 6rem 0;
  }

  .title {
    max-width: 90%;
  }

  .departSec {
    padding-block: 6rem;
  }

  .departmentRow {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 992px) {
  .leftSide {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .title {
    font-weight: bold;
    margin-bottom: 2.2rem;
    font: var(--font-40);
    line-height: 1;
  }

  .departmentSection .container {
    padding-bottom: 0rem;
  }

  .title span {
    letter-spacing: -1.88px;
  }

  .browseLine {
    width: 70%;
  }


  .cardTitle {
    font: var(--font-24);
    font-family: var(--font-Condensed);
  }

  .courseRow {
    display: block;
  }

  .departSec {
    padding-block: 8rem 6rem;
  }
}

@media (max-width: 768px) {
  .departmentRow {
    grid-template-columns: repeat(1, 1fr);
  }

  .courseRow {
    padding-block: 2rem 0;
  }

  .departmentSection {
    padding: 0rem 2rem 2rem 2rem;
  }

  .departSec {
    padding-block: 4rem;
  }

  .schools-page .about-pagination {
    display: none;
  }

  .schools-page .swiper-horizontal {
    display: none;
  }

  .browseHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .browseLine {
    width: 100%;
  }

  .programCard {
    margin-bottom: 1.5rem;
  }

  .courseRow.bottom_space{
    padding-bottom:3rem;
  }
}
@media (max-width: 767px) {
   .title {
    font: var(--font-30);
  }
  .browseHeader h2 {
    font: var(--font-22);
    letter-spacing: 0.5px;
    margin-bottom: 2rem;
    font-weight: bold;
  }
  .browseHeader p{
    margin-bottom: 1rem;
  }
  .admiCol h2 {
  font: var(--font-20);
  }
  .admiCol p{
    font: var(--font-16);
    font-weight: 300;
  }
  .bannerLabel{
    font: var(--font-20);
  }
}
@media (max-width: 576px) {
  .departmentSection {
    padding: 2rem 1rem 1rem 1rem;
  }

  .viewAllButton,
  .applyButton {
    width: 100%;
    margin-bottom: 0.75rem;
  }

  .cardTitle {
    font: var(--font-24);
    font-weight: bold;
    font-family: var(--font-Condensed);
  }

  .departmentItem {
    padding: 0.75rem;
  }

  .cardArrow {
    bottom: 15px;
    right: 15px;
  }

  .cardTitle {
    max-width: 100%;
  }

  .departmentItem {
    font: var(--font-16);
    text-decoration: none;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    letter-spacing: -0.21px;
    font-weight: bold;
    font-family: var(--font-Condensed);
    height: 100%;
    padding-inline: 2rem;
  }

  .courseItemsRow {
    grid-template-columns: repeat(1, 1fr);
  }

  .departSec {
    padding-block: 4rem 0;
  }

  .departmentRow {
    grid-template-columns: repeat(1, 1fr);
  }
.admistion_heading {
  display: block;
}
.departData {
  margin-block: 2rem 0;
}
}
